@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .placeholder-light-gray::placeholder {
    color: #a1a1a1;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #e74c3c;
    background: linear-gradient(#e74c3c 0%, #c0392b 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #c0392b;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #c0392b;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #c0392b;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #c0392b;
}

#success-modal {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.fade-out {
    opacity: 0 !important;
    pointer-events: none;
}

.required::after {
    content: '*';
    color: red;
}

.dropdown-link:hover,
.dropdown-link:focus,
.dropdown-link[aria-current="page"] {
    border-bottom: 2px solid;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dark ::-webkit-scrollbar-track {
    background: #2d2d2d;
}

.dark ::-webkit-scrollbar-thumb {
    background: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.progress-steps {
    align-items: center;
    display: flex;
    opacity: 1;
    position: relative;
    top: 0;
    transition: .2s;
    visibility: visible;
}
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
}
.number {
    background-color: #3d3d3d;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}
.text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
}
.spacer {
    position: absolute;
    top: 1.25rem;
    left: calc(50% + 1.25rem);
    height: 4px;
    width: calc(100% - 2.5rem);
    background-color: #3d3d3d;
}
.step:last-child .spacer {
    display: none;
}
.step.active .number {
    background-color: #ff5400;
}
.step.complete .number,
.step.complete .spacer {
    background-color: #ff5400;
}
.step .text.last {
    padding-right: 1rem;
}



