@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .placeholder-light-gray::placeholder {
    color: #a1a1a1;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #e74c3c;
    background: linear-gradient(#e74c3c 0%, #c0392b 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #c0392b;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #c0392b;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #c0392b;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #c0392b;
}

#success-modal {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.fade-out {
    opacity: 0 !important;
    pointer-events: none;
}

.dropdown-link:hover,
.dropdown-link:focus,
.dropdown-link[aria-current="page"] {
    border-bottom: 2px solid;
}

